html, body {
    height: 100%;
    width: 100%;
  }
*{
  margin: 0;
  padding: 0;
}
.num{
  width:45px;
  height: 70px;
   background-color:green;
   color:white;
   font-size: 25px;
 }
 .top{
   background-color:orangered;
   height: 70px;
   text-align:center;
   color:#38CEE3;
   font-size: 20px;
}
#title{
  margin: 0 50%;
  display: flex;
  justify-content: center;
  color: red;
  font-size: 35px;
  white-space: nowrap;
}
#digits{
  font-size: 25pt;
}
#numberOfDigits{
  margin-bottom: 2%;
  width: 15%;
  height: 4vh;
  font-size: 3vh;
}
.error{
  background-color: #CC0000;
}
#errormsg{
  color: red;
  background-color: #DAE709;
  direction: rtl;
  margin: 0 40%;
  white-space:nowrap;
  min-width: fit-content;
  padding: 3%;
  display: none;
}
 #btn{
   margin:40px 50%;
   background-color:seagreen;
   padding:30px;
   color: gold;
   font-size: 40px;
 }
 #copyright{
   text-align: center;
   background: yellow;
   min-width: 100%;
   max-width: 100vh;
   font-size:30pt ;
 }
@media screen and (min-width: 480px){  
  .num{
  width:90px;
   font-size: 20px;
 }
 .top{
   font-size: 20px;
 }
 #title{
   display: flex;
   justify-content: center;
 }
 #btn{
   margin:40px;
   font-size: 40px;
 }}
  
@media screen and (min-width: 768px){
  .num{
     width: 90px;
     font-size: 40px;
   }
   #btn{
     margin:30px 40%;
   }
} 
  
@media screen and (min-width: 992px){
  html, body {
    height: 100%;
    width: 100%;
  }
  .num{
   width:70px;
    font-size: 27px;
  }
  .top{
    font-size: 30px;
  }
  #btn{
    margin:30px 40%;    
    padding:30px;
  }
}
#social-word{
  text-align: center;
  color: red;
}
#arrow{
  text-align: center;
  font-size: 60px;
  animation-name: ok;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes ok{
  0%{
    opacity:0;
  }
  25%{
    opacity:1;
  }
  50%{
    opacity:0;
  }
  75%{
    opacity:1;
  }
  100%{
    opacity:0;
  }
}
#websites{
  display: flex;
  background-attachment: fixed;
  background-color: red;
  height: 150px;
  margin-top: 50px;
}
.social{
  border: solid 1px white;
  text-decoration: none;
  color:black;
  width:calc(100% / 3);
  height: 150px;
  text-align: center;
}
#face{
  background-image: url(facebook.png);
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
}
#github{
  background-image: url(github.png);
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
}
#twitter{
  background-image: url(twitter.png);
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
}